# Ignore node modules
client/node_modules/
server/node_modules/
test/node_modules/

# Ignore environment variables
server/.env
client/.env
client/.env.local
client/.env.development
client/.env.production
client/.env.test
client/.env.development.local
client/.env.production.local
test/.env
test/.env.local
test/.env.development
test/.env.production
test/.env.test


# Ignore build files
client/build/
server/dist/

# Ignore system files
.DS_Store
Thumbs.db
.qodo
