.loading-animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.loading-animation {
  margin-bottom: 0.5rem;
}

.loading-text {
  color: #f45da0;
  font-weight: 500;
  margin-top: 0.5rem;
  text-align: center;
}